.header_wrapper{
	display: flex;
	justify-content: center;
	align-items:center;
	text-align:center;
	position: relative;
	height:100px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.13);
}
.title{
	font-size:30px;
	font-weight:bold;
	font-family: Roboto;
	color: #00A0FC;
}
img{
	position:absolute;
	top:0px;
	left:100px;
}