.hero-part{
  background-image: url('https://res.cloudinary.com/dpy0mkwsp/image/upload/v1545326564/images/burger-istock.jpg');
  height:100vh;
  background-repeat: none;
  background-position: center;
  background-size: cover;
  display:flex;
  justify-content: center;
  align-items:center;
  
}
.hero-title{
  font-size:70px;
  color: #052531;
  background-color:#d3cdcd7d;
  height:max-content;
  padding:150px 0;
  margin:50px;
}
.login_signup{
  background-color:#ffffff45; 
  display: flex;
  justify-content: center;
  align-items: center; 
  padding:200px 80px; 
}